<html>
  <head>
    <title>Wordcount with MapReduce</title>
  </head>
  <body bgcolor="#FFF">
  <div style="background-color: EEE; width:410; padding: 10px; border: 1px solid #111; margin: 0 auto ; ">
    <h1>AppScale Benchmarks</h1>
    <hr>
    <div>
      <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:400; height:90;">
        <h2>Datasets</h2>
        <a href='data/wc'>WordCount</a>|
        <a href='data/agg'>Aggregate</a>|
        <a href='data/join'>Join</a>|
        <a href='data/grep'>Grep</a>|
        <a href='data/rank'>Rank</a>|
        <a href='data/subset'>Subset</a></br>
      </div>
    </div>
    <hr>
    <div style="width:410; height:300;"> 
      <div style="width:200; height:300; display:inline; float:left">
          <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:200; height:90;">
	      <h2>WordCount</h2>
	      <a href='wc'>Run WC Jobs</a></br>
          </div>
          <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:200; height:90;">
	      <h2>Aggregate</h2>
	      <a href='agg'>Run Aggregate Jobs</a></br>
          </div>
          <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:200; height:90;">
	      <h2>Join</h2>
	      <a href='join'>Run Join Jobs</a></br>
          </div>
      </div> 
      <div style="width:200; height:300; display:inline; float:left">
          <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:200; height:90;">
	      <h2>Grep</h2>
	      <a href='grep'>Run Grep Jobs</a></br>
          </div>

          <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:200; height:90;">
	      <h2>Rank</h2>
	      <a href='rank'>Run Rank Jobs</a></br>
          </div>
          <div style="text-align: center; border: 1px solid #111; background-color:DDD; width:200; height:90;">
	      <h2>Subset</h2>
	      <a href='subset'>Run Subset Jobs</a></br>
          </div>
      </div>
    </div>

    <div style="width:410">
      <hr>
      <a href='jobs'>All past jobs</a><a style="float:right;" href="http://appscale.cs.ucsb.edu">|Home|</a><a style="float:right;" href="http://code.google.com/p/appscale">|Code|</a></br>
    </div>
  </div>
  </body>
</html>
